{#
/**
 * @file
 * Display GnuSocial status template.
 *
 * Available variables:
 * - element.conversation_url: The url to first notice in conversation.
 * - element.conversation_json: The more link to json.
 * - element.statuses: The statuses list
 * @see template_preprocess_gnusocial_conversation()
 *
 * @ingroup themeable 
 * 
 */

#}
{%
  set conversation_classes = [
    'gnusocial-conversation'
  ]
%}
<div {{ attributes.addClass( conversation_classes ) }}">
{{ element.statuses  }}
</div>
<div>
{{ element.conversation_url }}
{{ element.conversation_json }}  
</div>

