{#
/**
 * @file
 * Display GnuSocial status template.
 *
 * Available variables:
 * - element.statusnet_html: The markup of status
 * - element.created_at: The creation date of status
 * - element.user_profile_image_url: The profile image of user.
 * - element.pre_render_addition : To add some additional text.
 * - element.user_url: Raw user url(not profile url).
 * - element.user_statusnet_profile_url: User screen name pointing to profile url.
 * - element.username: The screen name of user pointing to user url (not profile url).
 * - element.submitted: Submitted text as drupal does
 * - element.permalink: The link to status in drupal.
 * @see template_preprocess_comment()
 *
 * @ingroup themeable 
 * 
 */

#}
{%
  set classes = [
    'comment',
    'js-comment',
    'clearfix',
  ]
%}

<article  role="article" {{ attributes.addClass(classes)|without('role') }}>
  <footer class="comment__meta">
    {% spaceless %}
    <a class="group" target="_blank" rel="group1" href="{{ element['#user_statusnet_profile_url'] }}">
        <img src="{{ element.user_profile_image_url }}">
    </a>
  {% endspaceless %} 
   <p class="comment__author">{{ element.username }}</p>
   <p class="comment__time">{{ element.created_at }}</p>
   <p class="comment__permalink">{{ element.permalink }}</p>
    {#
      Indicate the semantic relationship between parent and child comments for
      accessibility. The list is difficult to navigate in a screen reader
      without this information.
    {% if parent %}
      <p class="visually-hidden">{{ parent }}</p>
    {% endif %}
    #}
    
  </footer>

  <div{{ content_attributes.addClass('comment__content') }}>
    {{ element.statusnet_html }}
  </div>
</article>
